<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algerian Forest Temperature  Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
        <article>
            <h1>Algerian Forest Temperature Prediction</h1>
        </article>
<ul>
    <li>
        <a href="/single_regression">
            <div class="icon">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <i class="fa fa-line-chart" aria-hidden="true"></i>

            </div>
            <div class="name"><span data-text="Single Prediction">Single Regression</span></div>
        </a>
    </li>
</ul>
</body>
</html>